# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.tar.gz

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

standalone_db_tool/.env

# server build info
/downloads
/server/data/parsed
/server/data/parsed_old
/server/data/example_repo_path
/server/data/example_repo_2
/server/example_repo_path
/server/example_repo_2
/patches
/server_install_package
server_install_package.tar.gz
new_binary.tar.gz
/new_binary
*.swp
.vscode/


# files used for testing
podman-build/python_container/__pycache__/
podman-build/python_container/config.yml
*.p12
*.crt
*.key
*.pem
*.csr 