# Ignore artifacts:
build
README.md
yarn.lock
package.json
package-lock.json
babel.config.js
knexfile.js
patches.service
server_install_package
public
downloads
migrations
seeds
server/data
server/server_cert.pem
server/server_key.pem

