.dashboard {
  justify-content: center;
}

.dashboard-control-horizontal {
  margin-bottom: 25%;
  justify-content: center;
}

.dashboard-control {
  margin-bottom: 5%;
}

.custom-time {
  margin-top: 20px;
  justify-content: end;
}

.dashboard-label {
  justify-content: center;
  margin-bottom: 5px;
}

.graph-header {
  justify-content: center;
}

.filter-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.label-default {
  margin-bottom: 10px;
}

.component-dl {
  padding: 0.05rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-color: #1a7ac4;
  color: #1a7ac4;
  cursor: pointer;
}
